# Promote staging version to production (latest)
name: Promote to Production

on:
  release:
    type: [published]

jobs:
  production-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@bhoos'

      - name: Publish release
        run: |
          pkg=$(node -p "require('./package.json').name")
          version=$(node -p "require('./package.json').version")
          echo "Releasing ${pkg}@${version} to latest"
          # The following command doesn't work with `yarn tag` (2021-Jan-06)
          npm dist-tag add ${pkg}@${version} latest